<h2>celb heading</h2>

<form method="POST" >
    <label>
        Name
    <input type="text" name="name" required >
    </label>


    <label>
        Occupation
    <input type="text" name="occupation"  >
    </label>

    <label>
        catchPhrase
    <input type="text" name="catchPhrase"  >
    </label>

    <p>
        <button>Create a celebrity</button>
    </p>
</form>