<h2>new movie heading</h2>

<form method="POST">
  <label>
    Title
    <input type="text" name="title" required />
  </label>

  <label>
    Genre
    <input type="text" name="genre" />
  </label>

  <label>
    Plot
    <input type="text" name="plot" />
  </label>

  <label>Cast

    <select name="cast" multiple>
      <option>coucou</option>
      {{#each allCelebrities}}
        <option value="{{_id}}">{{this.name}}</option>
      {{/each}}

    </select>
  </label>

  <p>
    <button>Create a movie</button>
  </p>
</form>